@font-face {
  font-family: "avenir-medium";
  src: url('../../Assets/AvenirLTStd-Medium.woff') format("woff");
}
.Typing {
  width: 800px;
  background: #D31027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.typing-header-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px auto 25px;
}
.typing-header-section h1 {
  margin: 0;
}
.typing-line-section {
  height: 200px;
  width: 100%;
  margin: 0px auto;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.typing-line {
  width: 100%;
  margin: 0 auto;
  font-size: 32px;
  letter-spacing: 0px;
  text-align: center;
}
.typing-word-section {
  background: white;
  height: 50px;
  width: 100%;
  margin: 11px auto 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.typing-word-section input {
  height: 70%;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  border: none;
  font-size: 24px;
  text-align: center;
  font-family: avenir;
  font-weight: bold;
}
.typing-instructions-section, .typing-info-section {
  background: white;
  width: 100%;
  margin: 11px auto 0px;
  border-radius: 10px;
}
.typing-instructions-section h1, .typing-info-section h1 {
  display: flex;
  justify-content: center;
}
.typing-info-section h2 {
  margin-left: 10px;
  font-size: 18px;
}
.typing-info-section p {
  margin-left: 30px;
}
.typing-line-current {
  position: relative;
}
.typing-highlight {
  height: 39.2px;
  width: auto;
  background: rgba(80, 223, 80, 0.623);
  border-radius: 5px;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  left: 0px;
}
.typing-highlight p {
  margin: 0;
}
.current-line-span {
  position: relative;
}